<div class="master" *ngIf="showNotifications">
    <div class="tip"></div>

    <body>
        <h1>You have 1 message</h1>
        <div class="content">
            <section (click)="goToProfile()">
                <img src="assets/example-inc.svg" alt="">

                <div class="text-content">
                    <h3>Verification request</h3>
                    <p>Example technology systems would like to view your profile for your application. Please verify
                        your profile to proceed.
                    </p>
                </div>
            </section>
        </div>
    </body>
</div>

<app-modal *ngIf="showModal"></app-modal>
