<div *ngIf="openModal" class="container" @modal>
    <div class="modal" [style.margin-top.px]="modalTop" @modal>
        <img src="assets/example-inc.svg" class="company">
        <h1>Congratulations John!</h1>
        <p>Example technology systems would like to offer you a position as their Head of Sales. The outlines of the
            offer are:</p>
        <ul>
            <li>
                <p>£42,000 salary per annum</p>
            </li>
            <li>
                <p>Sales based commission</p>
            </li>
            <li>
                <p>Company car</p>
            </li>
            <p class="contract"><span>View full contract</span></p>
        </ul>
        <div class="button-container">
            <button (click)="accept()">Accept</button>
            <button>Decline</button>
        </div>
        <div class="verification-container" *ngIf="showVerificationSteps">
            <h3><strong>To complete the proccess and accept the offer, we need to confirm your identity.</strong></h3>
            <app-verification></app-verification>
        </div>
        <p class="close" (click)="closeModal()"><span>Close</span></p>
    </div>

    <div class="scrim" (click)="closeModal()" @scrimAnimation></div>
</div>
