<body>
    <div class="image"></div>

    <h1>Connecting great candidates, with great jobs</h1>
    <h2>Let's get started...</h2>

    <ul>
        <li>
            <label>
                <h5>What</h5>
                <input placeholder="Job title, skill or company...">
            </label>
        </li>
        <li>
            <label>
                <h5>Where</h5>
                <input placeholder="Town, city or postcode...">
            </label>
        </li>
        <li>
            <button>Search</button>
        </li>
    </ul>
</body>

<section>
    <h1>Tips and tricks</h1>
    <ul>
        <li>
            <img src="assets/mail.png" alt="">
            <h2>Create an alert</h2>
            <p>Be first to the most relevant jobs with targeted alerts</p>
        </li>
        <li>
            <img src="assets/person.png" alt="">
            <h2>Register now</h2>
            <p>Apply for new roles in an instant</p>
        </li>
        <li>
            <img src="assets/document.png" alt="">
            <h2>Upload CV</h2>
            <p>Put your CV in front of great employers</p>
        </li>
        <li>
            <img src="assets/idea.png" alt="">
            <h2>Great advice</h2>
            <p>We have the tips and tools to help you</p>
        </li>
    </ul>
</section>
