<div *ngIf="openModal" class="container" @modal>
    <div class="modal" @modal>
        <img src="assets/example-inc.svg" class="company">
        <h1>Congratulations John!</h1>
        <p>Example technology systems would like to offer you a position as their Head of Sales. The outlines of the
            offer are:</p>
        <ul>
            <li>
                <p>£42,000 salary per annum</p>
            </li>
            <li>
                <p>Sales based commission</p>
            </li>
            <li>
                <p>Company car</p>
            </li>
            <p class="contract"><span>View full contract</span></p>
        </ul>
        <h3><strong>To complete the proccess and accept the offer, we need to confirm your identity.</strong></h3>
        <!-- <button>
            <img src="assets/sflame.svg" alt="flame">
            <h2>Verify with Santander</h2>
        </button> -->
        <app-verification></app-verification>
        <p class="close" (click)="closeModal()"><span>Close</span></p>
    </div>

    <div class="scrim" (click)="closeModal()" @scrimAnimation></div>
</div>
