<div class="container">
    <div class="card profile">
        <h1>Your profile</h1>

        <div class="profile-container">
            <img src="assets/profile.png" alt="">
            <div>
                <h4>Mrs Laura Lavel</h4>
                <h4>laura@santanderlabs.io</h4>
                <h4>07720647869</h4>
                <h4>91 Savannah Falls, Rotherham, CE0YYW, United Kingdom</h4>
            </div>
        </div>
        <h4>Profile description</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus feugiat, eget
            malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a auctor erat. Integer sapien orci,
            egestas eget sodales id, pharetra et dolor. Morbi non lacus dolor. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos. In ullamcorper quam ut nisl cursus, eget gravida felis
            eleifend. Aliquam luctus volutpat faucibus. Maecenas facilisis maximus turpis, ut semper massa aliquet eu.
            Nam consectetur felis eu quam elementum mattis. Etiam sit amet ante nisi.</p>
    </div>

    <div class="application">
        <div class="card">
            <h1>Current applications</h1>
        </div>
        <div class="card">
            <header>
                <h3>Sales director</h3>
                <img src="assets/handcraft-logo.png" alt="">
            </header>
            <section class="summary">
                <ul>
                    <li>
                        <p>East London</p>
                    </li>
                    <li>
                        <p>£48,000 per annum</p>
                    </li>
                    <li>
                        <p>Permanent - Full time</p>
                    </li>
                    <li>
                        <p>Handcraft cards</p>
                    </li>
                    <li>
                        <p>Applied 3 days ago</p>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus
                    feugiat, eget malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a
                    auctor erat.</p>
            </section>
        </div>
        <div class="card">
            <header>
                <h3>Chief sales officer</h3>
                <img src="assets/diagonal-logo.png" alt="">
            </header>
            <section class="summary">
                <ul>
                    <li>
                        <p>East London</p>
                    </li>
                    <li>
                        <p>£53,000 per annum</p>
                    </li>
                    <li>
                        <p>Permanent - Full time</p>
                    </li>
                    <li>
                        <p>Diagonal engineering</p>
                    </li>
                    <li>
                        <p>Applied 5 days ago</p>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus
                    feugiat, eget malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a
                    auctor erat.</p>
            </section>
        </div>
    </div>
</div>
