<app-verified
    [verified]="verified"
    *ngIf="displayVerifyLoader"
    @verifyLoader>
</app-verified>

<div class="container">
    <div class="card profile">
        <h1 class="your-profile" *ngIf="!verified">Your profile
            <img src="assets/shield-disabled.svg"
                alt="not-verified"
                width="40px">
        </h1>
        <h1 class="your-profile"
            *ngIf="verified">
            Your profile
            <img src="assets/shield.svg"
                width="40px"
                alt="verified"
                @verified>
        </h1>
        <h3 class="req-ver" *ngIf="!(sdkService.verified && !displayVerifyLoader)">Verification required</h3>
        <div class="profile-container">
            <img src="assets/profile.png" alt="profile">
            <div *ngIf="userDetails">
                <h4 class="properties">Name: {{ userDetails.title }} {{ userDetails.given_name }}
                    {{ userDetails.family_name }}</h4>
                <h4 class="properties">Country of Birth: {{ userDetails.country_of_birth }}</h4>
                <h4 class="properties">Address: {{ userDetails.address.street_address }},
                    {{ userDetails.address.locality }},
                    {{ userDetails.address.postal_code }}, {{ userDetails.address.country }}</h4>
                <h4 class="properties" *ngIf="userDetails.email">Email: {{ userDetails.email }}</h4>
                <h4 class="properties" *ngIf="userDetails.phone_number">Phone number: {{ userDetails.phone_number }}
                </h4>
            </div>
        </div>
        <h4>Profile description</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus feugiat,
            eget malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a auctor erat. Integer
            sapien orci,
            <br>
            <br>
            egestas eget sodales id, pharetra et dolor. Morbi non lacus dolor. Class aptent taciti sociosqu ad
            litora torquent per conubia nostra, per inceptos himenaeos. In ullamcorper quam ut nisl cursus, eget
            gravida
            felis eleifend. Aliquam luctus volutpat faucibus. Maecenas facilisis maximus turpis, ut semper massa
            <br>
            <br>
            aliquet
            eu. Nam consectetur felis eu quam elementum mattis. Etiam sit amet ante nisi.</p>
        <app-verification *ngIf="!(sdkService.verified && !displayVerifyLoader)"></app-verification>
    </div>

    <div class="application">
        <div class="card">
            <h1>Current applications</h1>
        </div>
        <div class="card">
            <header>
                <h3>Sales director - <span>view full application</span></h3>
                <img src="assets/example-inc.svg" alt="">
            </header>
            <section class="summary">
                <ul>
                    <li>
                        <p><img src="assets/pin.svg" alt="" class="icon">Central London</p>
                    </li>
                    <li>
                        <p><img src="assets/pound-sterling.svg" alt="" class="icon">£42,000 per annum</p>
                    </li>
                    <li>
                        <p><img src="assets/work.svg" alt="" class="icon">Permanent - Full time</p>
                    </li>
                    <li>
                        <p><img src="assets/company.svg" alt="" class="icon">Example technology systems</p>
                    </li>
                    <li>
                        <p class="pending-offer" *ngIf="!verified"><img
                                src="assets/timer.svg" alt="" class="icon">Pending actions - 18
                            minutes ago</p>
                        <p *ngIf="verified"><img src="assets/timer.svg" alt=""
                                class="icon"> Applied 8 days ago</p>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus
                    feugiat, eget malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a
                    auctor erat.</p>
            </section>
        </div>
        <div class="card">
            <header>
                <h3>Sales director - <span>view full application</span></h3>
                <img src="assets/handcraft-logo.png" alt="">
            </header>
            <section class="summary">
                <ul>
                    <li>
                        <p><img src="assets/pin.svg" alt="" class="icon">East London</p>
                    </li>
                    <li>
                        <p><img src="assets/pound-sterling.svg" alt="" class="icon">£48,000 per annum</p>
                    </li>
                    <li>
                        <p><img src="assets/work.svg" class="icon" alt="">Permanent - Full time</p>
                    </li>
                    <li>
                        <p><img src="assets/company.svg" class="icon" alt="">Handcraft cards</p>
                    </li>
                    <li>
                        <p><img src="assets/timer.svg" alt="" class="icon"> Applied 3 days ago</p>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus
                    feugiat, eget malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a
                    auctor erat.</p>
            </section>
        </div>
        <div class="card">
            <header>
                <h3>Chief sales officer - <span>view full application</span></h3>
                <img src="assets/diagonal-logo.png" alt="">
            </header>
            <section class="summary">
                <ul>
                    <li>
                        <p><img src="assets/pin.svg" alt="" class="icon">East London</p>
                    </li>
                    <li>
                        <p><img src="assets/pound-sterling.svg" alt="" class="icon">£53,000 per annum</p>
                    </li>
                    <li>
                        <p><img src="assets/work.svg" alt="" class="icon">Permanent - Full time</p>
                    </li>
                    <li>
                        <p><img src="assets/company.svg" alt="" class="icon">Diagonal engineering</p>
                    </li>
                    <li>
                        <p><img src="assets/timer.svg" alt="" class="icon">Applied 5 days ago</p>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus
                    feugiat, eget malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a
                    auctor erat.</p>
            </section>
        </div>
    </div>
</div>
