<div class="container">
    <div class="card profile">
        <h1>Your profile</h1>
        <h5 class="req-ver">Verification required</h5>
        <div class="profile-container">
            <img src="assets/profile.png" alt="">
            <div>
                <h4>Mrs Laura Lavel</h4>
                <h4>laura@santanderlabs.io</h4>
                <h4>07720647869</h4>
                <h4>91 Savannah Falls, Rotherham, CE0YYW, United Kingdom</h4>
            </div>
        </div>
        <h4>Profile description</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus feugiat, eget
            malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a auctor erat. Integer sapien orci,
            egestas eget sodales id, pharetra et dolor. Morbi non lacus dolor. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos. In ullamcorper quam ut nisl cursus, eget gravida felis
            eleifend. Aliquam luctus volutpat faucibus. Maecenas facilisis maximus turpis, ut semper massa aliquet eu.
            Nam consectetur felis eu quam elementum mattis. Etiam sit amet ante nisi.</p>
    </div>

    <div class="application">
        <div class="card">
            <h1>Current applications</h1>
        </div>
        <div class="card">
            <header>
                <h3>Sales director - <span>view full application</span></h3>
                <img src="assets/example-inc.svg" alt="">
            </header>
            <section class="summary">
                <ul>
                    <li>
                        <p><img src="assets/pin.svg" alt="" class="icon">Central London</p>
                    </li>
                    <li>
                        <p><img src="assets/pound-sterling.svg" alt="" class="icon">£42,000 per annum</p>
                    </li>
                    <li>
                        <p><img src="assets/work.svg" alt="" class="icon">Permanent - Full time</p>
                    </li>
                    <li>
                        <p><img src="assets/company.svg" alt="" class="icon">Example technology systems</p>
                    </li>
                    <li>
                        <p class="pending-offer"><img src="assets/timer.svg" alt="" class="icon">Pending offer -
                            recieved 18 minutes ago</p>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus
                    feugiat, eget malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a
                    auctor erat.</p>
            </section>
        </div>
        <div class="card">
            <header>
                <h3>Sales director - <span>view full application</span></h3>
                <img src="assets/handcraft-logo.png" alt="">
            </header>
            <section class="summary">
                <ul>
                    <li>
                        <p><img src="assets/pin.svg" alt="" class="icon">East London</p>
                    </li>
                    <li>
                        <p><img src="assets/pound-sterling.svg" alt="" class="icon">£48,000 per annum</p>
                    </li>
                    <li>
                        <p><img src="assets/work.svg" class="icon" alt="">Permanent - Full time</p>
                    </li>
                    <li>
                        <p><img src="assets/company.svg" class="icon" alt="">Handcraft cards</p>
                    </li>
                    <li>
                        <p><img src="assets/timer.svg" alt="" class="icon"> Applied 3 days ago</p>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus
                    feugiat, eget malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a
                    auctor erat.</p>
            </section>
        </div>
        <div class="card">
            <header>
                <h3>Chief sales officer - <span>view full application</span></h3>
                <img src="assets/diagonal-logo.png" alt="">
            </header>
            <section class="summary">
                <ul>
                    <li>
                        <p><img src="assets/pin.svg" alt="" class="icon">East London</p>
                    </li>
                    <li>
                        <p><img src="assets/pound-sterling.svg" alt="" class="icon">£53,000 per annum</p>
                    </li>
                    <li>
                        <p><img src="assets/work.svg" alt="" class="icon">Permanent - Full time</p>
                    </li>
                    <li>
                        <p><img src="assets/company.svg" alt="" class="icon">Diagonal engineering</p>
                    </li>
                    <li>
                        <p><img src="assets/timer.svg" alt="" class="icon">Applied 5 days ago</p>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum nibh et purus
                    feugiat, eget malesuada massa consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Nam ac mi vitae purus porta elementum ac placerat ex. Aenean a
                    auctor erat.</p>
            </section>
        </div>
    </div>
</div>
